*
{
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
}
.container{
    height: 100vh;
    display: flex;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : linear-gradient(to right, #5fc0c0, #b76abc);
   
}
.buttons{
    width: 25%;
    display :flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(80, 106, 194);
    border-radius: 6.9px;
}
button{
    border-radius: 13px;
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 50px;
    margin: 0.8rem;
    box-shadow:  2px 2px 5px #bababa,
             -2px -2px 5px #ffffff;
}
.buttonSide
{
    width : 120px;
}
.buttonTop, .buttonSecond, .buttonMid, .buttonLast , .buttonBottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.screen
{
    display: flex;
    flex-direction: column;
}
.previousOperand,.currentOperand
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: right;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}
.previousOperand
{
    font-size: 20px;
}
button :active
{
    background-color: rgb(0, 0, 0);
}